@model OWL_Site.Models.AspNetUser
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/DataTables/css/dataTables.editor.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/DataTables/css/editor.dataTables.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DataTables/dataTables.editor.min.js")" charset="utf8"></script>

<div class="control_grid">
    <table id="table_pb" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>OwSAN</th>
                <th>IdRec</th>
                <th>Id</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Должность</th>
                <th>Телефон внут.</th>
                <th>Телефон внеш.</th>
                <th>Телефон моб.</th>
                <th>Email</th>
                <th>Час. пояс</th>
                <th>SIP</th>
                <th>H.323</th>
                <th width="150px">Группа</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="phonebook_buttons">
        <button type="button" onclick="delete_pb_users()" class="btn btn-primary pull-left">Удалить</button>
        <button type="button" onclick="display_du_users()" class="btn btn-primary pull-right">Добавить</button>
    </div>
</div>
<div id="modal_block" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <table id="table_du" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Должность</th>
                            <th>Телефон (внут.)</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" onclick="add_pb_users()" class="btn btn-primary active">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>

        <script type="text/javascript" charset="utf8">
            var oPhonebookTable;
            var oDomainusersTable;


            $(document).ready(function () {
                editor = new $.fn.dataTable.Editor({
                    "ajax": "/Phonebook/Phonebook_Ajax",
                    "table": "#table_pb",
                    "fields": [
                        { label: 'Id', name: 'PrivatePhBs.Id' },
                        { label: 'OwSAN', name: 'PrivatePhBs.OwSAN' },
                        { label: 'IdREC', name: 'PrivatePhBs.IdREC' },
                        { label: 'UsersGroup', name: 'PrivatePhBs.UsersGroup' },
                        { label: 'Id', name: 'AspNetUsers.Id' },
                        { label: 'Name', name: 'AspNetUsers.Name' },
                        { label: 'Surname', name: 'AspNetUsers.Surname' },
                        { label: 'Position', name: 'AspNetUsers.Position' },
                        { label: 'Tel_int', name: 'AspNetUsers.Tel_int' },
                        { label: 'Tel_ext', name: 'AspNetUsers.Tel_ext' },
                        { label: 'Tel_mob', name: 'AspNetUsers.Tel_mob' },
                        { label: 'Email', name: 'AspNetUsers.Email' },
                        { label: 'Timezone', name: 'AspNetUsers.Timezone' },
                        { label: 'Sip_addr', name: 'AspNetUsers.Sip_addr' },
                        { label: 'H323_addr', name: 'AspNetUsers.H323_addr' },
                    ]
                });

                $('#table_pb').on('click', '.editable', function () {
                    editor.inline(this, {
                        onBlur: 'submit',
                        submit: 'changed'
                    });
                });

                oPhonebookTable = $('#table_pb').DataTable({
                    "ordering": true,
                    "searching": true,
                    "scrollY": "75vh",
                    "scrollCollapse": "true",
                    "autoWidth": false,
                    "paging": true,
                    "lengthChange": true,
                    "pageLength": "15",
                    "lengthMenu": [15, 25, 50, 100, 1000],
                    "processing": true,
                    "order": [[2, 'asc']],
                    "serverSide": false,
                    "select": {
                        "style": 'multi',
                    },

                    "ajax": {
                        "type": "POST",
                        "url": "/Phonebook/Phonebook_Ajax",
                        "contentType": 'application/json; charset=utf-8',
                        "data": function (data) { return data = JSON.stringify(data); }
                    },

                    "columns": [
                        { "data": "PrivatePhBs.Id", "visible": false, "searchable": false },
                        { "data": "PrivatePhBs.OwSAN", "visible": false, "searchable": false },
                        { "data": "PrivatePhBs.IdREC", "visible": false, "searchable": false },
                        { "data": "AspNetUsers.Id", "visible": false, "searchable": false },
                        { "data": "AspNetUsers.Name" },
                        { "data": "AspNetUsers.Surname" },
                        { "data": "AspNetUsers.Position" },
                        { "data": "AspNetUsers.Tel_int" },
                        { "data": "AspNetUsers.Tel_ext" },
                        { "data": "AspNetUsers.Tel_mob" },
                        { "data": "AspNetUsers.Email" },
                        { "data": "AspNetUsers.Timezone", "searchable": false },
                        { "data": "AspNetUsers.Sip_addr", "searchable": false },
                        { "data": "AspNetUsers.H323_addr", "searchable": false },
                        { "data": "PrivatePhBs.UsersGroup", "searchable": false, "className": "editable" }
                    ],

                    "language": {
                        "url": "../../Content/dt_ru.json",
                        "select": {
                            "rows": {
                                _: "Выделено %d записей",
                                1: "Выделена 1 запись",
                                2: "Выделено 2 записи",
                                3: "Выделено 3 записи",
                                4: "Выделено 4 записи",
                            }
                        },
                    },
                });
            });

            function popup_du_table() {
                oDomainusersTable = $('#table_du').DataTable({
                    "ordering": true,
                    "searching": true,
                    "paging": true,
                    "lengthChange": true,
                    "pageLength": "10",
                    "lengthMenu": [10, 20, 30, 100],
                    "scrollY": "55vh",
                    "scrollCollapse": "true",
                    "autoWidth": false,
                    "processing": true,
                    "order": [[2, 'asc']],
                    "select": {
                        "style": 'multi',
                    },

                    "ajax": {
                        "type": "POST",
                        "url": "/Phonebook/PhonebookAll_Ajax",
                        "contentType": 'application/json; charset=utf-8',
                        "data": function (data) { return data = JSON.stringify(data); }
                    },

                    "columns": [
                        { "data": "Id", "visible": false },
                        { "data": "Name" },
                        { "data": "Surname" },
                        { "data": "Position", "searchable": false },
                        { "data": "Tel_int" },
                        { "data": "Email" },
                    ],

                    "language": {
                        "url": "../../Content/dt_ru.json",
                        "select": {
                            "rows": {
                                _: "Выделено %d записей",
                                1: "Выделена 1 запись",
                                2: "Выделено 2 записи",
                                3: "Выделено 3 записи",
                                4: "Выделено 4 записи",
                            }
                        },
                    },

                });
            };

            function refresh_pb() {
                if (oPhonebookTable != null)
                    oPhonebookTable.ajax.reload();
            };

            function refresh_du() {
                if (oDomainusersTable != null)
                    oDomainusersTable.ajax.reload();
            };

            function delete_pb_users() {
                var data = [];
                var arrayToDelete = oPhonebookTable.cells('.selected', 0, { page: 'current' }).data();
                for (var i = 0; i < arrayToDelete.length; i++) {
                    data[i] = arrayToDelete[i];
                }
                if (data != null) {
                    $.ajax({
                        "url": "/Phonebook/Phonebook_Delete",
                        "type": "POST",
                        "contentType": "application/json; charset=utf-8",
                        "data": JSON.stringify({ pbrArray: data }),
                    });
                }
                setTimeout(refresh_pb, 500);
            };

            function add_pb_users() {
                var data = [];
                var arrayToAdd = oDomainusersTable.cells('.selected', 0, { page: 'current' }).data();
                for (var i = 0; i < arrayToAdd.length; i++) {
                    data[i] = arrayToAdd[i];
                }
                if (data != null) {
                    $.ajax({
                        "url": "/Phonebook/Phonebook_Add",
                        "type": "POST",
                        "contentType": "application/json; charset=utf-8",
                        "data": JSON.stringify({ pbrArray: data }),
                    });
                }
                document.getElementById("popup_block").className = "hide";
                setTimeout(refresh_pb, 500);
            };

            function display_du_users() {
                $("#modal_block").modal();
                if (oDomainusersTable == null) {
                    popup_du_table();
                } else {
                    setTimeout(refresh_du, 500);
                }

            };
</script>
