@{
    ViewBag.Title = "Планировщик";
    @model OWL_Site.Models.AspNetUser
        }

    <script>
        
    </script>
   

@if (User.IsInRole("Admin"))
{
    <div data-container-for="Attendees" class="k-edit-field">
        @(Html.Kendo().MultiSelectFor(m => m.Id)
              .Name("Filter")
              .DataTextField("name")
              .DataValueField("id")
              .Placeholder("Выбор инициаторов")
              .Filter(FilterType.Contains)
              .ValuePrimitive(true)
              .Events(e =>
              {
                  e.Change("onClose");
              })
              .DataSource(source =>
              {
                  source.Custom()
                      .ServerFiltering(true)
                      .Type("aspnetmvc-ajax")
                      .Transport(transport =>
                      {
                          transport.Read("GetUsers", "Scheduler");
                      })
                      .Schema(schema =>
                      {
                          schema.Data("Data")
                              .Total("Total");
                      });
              })
              )
    </div>
    <script type="text/javascript">
        function onClose(e) {
            var multiselect = $("#Filter").data("kendoMultiSelect");
            var checked = multiselect.value();
            var scheduler = $("#scheduler").data("kendoScheduler");
            var filter = {
                logic: "or",
                filters: $.map(checked, function (value) {
                    return {
                        operator: "eq",
                        field: "InitName",
                        value: value
                    };
                })
            };
            scheduler.dataSource.filter(filter);
        }

        
    </script>

}

<div class="jumbotron">
    @(Html.Kendo().Scheduler<OWL_Site.Models.MeetingViewModel>()
          .Name("scheduler")
          .Date(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day))
          .StartTime(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 10, 00, 00))
          .EndTime(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 19, 00, 00))
          .Height(600)
          .Timezone("Europe/Moscow")
          .MinorTickCount(4)
          .MajorTick(60)
          .AutoBind(true)
          .Mobile()
          //.EventTemplate("<div style='background-color:#:getColor(data)#;height:100%;margin-top: -10px;padding-top:10px;padding-left:5px;box-shadow:0 0 10px rgba(0,0,0,0.9);'>" + "<h6 style='color:#:getColor2(data)#'>#= title #</h6>" + "<h6 style='color:#:getColor2(data)#'>#= InitFullname #</h6>" + "<p><a style='color:#:getColor2(data)#' href = '#= OpLink #'><h6>Ссылка Оператора</h6></a></p>" + "<p><a style='color:#:getColor2(data)#' href = '#= FileLink #'><h6>Файл встречи</h6></a></p>" + "<p><h6 style='color:#:getColor2(data)#'>" + "#= kendo.toString(start, 'HH:mm') #" + " - " + "#= kendo.toString(end, 'HH:mm') #</h6></p>" + "</div>")
          .EventTemplateId("customEventTemplate")
          .Views(views =>
          {
              views.DayView(v => v.Title("День"));
              views.WeekView(v => v.Title("Неделя"));
              views.WorkWeekView(workWeekView => workWeekView.Selected(true).Title("Рабочая неделя"));
              views.MonthView(v => v.Title("Месяц"));
              views.AgendaView(v => v.Title("Cписок"));
          })
          .Editable(editable =>
          {
              editable.TemplateName("CustomEditorTemplate");

          })
          .DataSource(d => d

              .Model(m =>
              {
                  m.Id(f => f.MeetingID);
                  m.RecurrenceId(f => f.RecurrenceID);
                  m.Field(f => f.Title).DefaultValue("Название конференции");

              })
                      .ServerOperation(true)
              .Events(e =>
              {
                  e.Error("error_handler");

              })
              .Read("Meetings_Read", "Scheduler")
              .Create("Meetings_Create", "Scheduler")
              .Destroy("Meetings_Destroy", "Scheduler")
              .Update("Meetings_Update", "Scheduler")

          ))


    @*<script>  $("#export").click(function (e) {
            var scheduler = $("#Home").data("kendoScheduler");
            scheduler.saveAsPDF();
        });  </script>*@
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);

                var scheduler = $("#scheduler").data("kendoScheduler");
                scheduler.one("dataBinding", function (e) {
                    //prevent saving if server error is thrown
                    e.preventDefault();
                });
            }
        }
    </script>


</div>

@*<script>
        window.setInterval(function () { var scheduler = $("#scheduler").data("kendoScheduler");
            scheduler.dataSource.read(); console.log("refreshed");
        }, 2000);
    </script>*@



<script id="customEventTemplate" type="text/x-kendo-template">
    
    
    <div class="btn-group">
        <button type="button" title="Подробнее..." class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
            #= title #  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="z-index:9999;">
            <li class="moreinfo">Инициатор - #:nameret(data) #</li>
            <li class="divider"></li>
            <li class ="moreinfo">Начало - #:dateformattingst(data)#</li>
            <li class ="moreinfo">Окончание - #:dateformattingnd(data)#</li>
            <li class ="moreinfo"></li>
            <li class="divider"></li>
            <li class="moreinfo">Участников: #:attquant(data)#</li>
            <li class="divider"></li>
            <li class ="moreinfo"><a href="#= OpLink #">Ссылка оператора</a></li>
        </ul>
    </div>
</script>
    <script>
        
        function dateformattingst(data) {
            return kendo.toString(data.start, 'H:mm  ddd, dd-MMM-yyyy');
        }

        function dateformattingnd(data) {
            return kendo.toString(data.end, 'H:mm  ddd, dd-MMM-yyyy');
        }

        function nameret(data) {

            return kendo.toString(data.FName);
        }

        function attquant(data) {
            var addquan;
            var res;
            if (!data.AddAttend) {
                addquan = 0;
            } else {

                var str = data.AddAttend;

                if (str.search(" ") > 0) {
                    res = str.replace(" ", "");
                } else {
                    res = str;
                }
                res = str;
                var quan = res.split(",");
                addquan = quan.length;
            }
            if (typeof data.Attendees === 'undefined') {
                return 0;
            } else {
                return addquan + data.Attendees.length;
            }
        };

        function getColor(data) {
            var date = new Date();
            var datenow = kendo.toString(date, 'yyyy/MM/dd HH:mm:ss.fff');
            if (kendo.toString(data.start, 'yyyy/MM/dd HH:mm:ss.fff') < datenow && datenow < kendo.toString(data.end, 'yyyy/MM/dd HH:mm:ss.fff')) {
                return "green";
            } else if (kendo.toString(data.end, 'yyyy/MM/dd HH:mm:ss.fff') < datenow) {
                return "gray";
            } else {
                return "blur";
            }
        }

        function getColor2(data) {
            var date = new Date();
            var datenow = kendo.toString(date, 'yyyy/MM/dd HH:mm:ss.fff');
            if (kendo.toString(data.start, 'yyyy/MM/dd HH:mm:ss.fff') < datenow && datenow < kendo.toString(data.end, 'yyyy/MM/dd HH:mm:ss.fff')) {
                return "white";
            } else if (kendo.toString(data.end, 'yyyy/MM/dd HH:mm:ss.fff') < datenow) {
                return "white";
            } else {
                return "blur";
            }
        }
    </script>
<style>
    .moreinfo {
        padding-left: 5px;
        color: #3D3D6A;
        border-color: #000;
    }

    .k-event, .k-more-events {
        position: absolute;
        border-style: solid;
        border-width: 1px;
        text-align: left;
        overflow: visible;
        border-color: #ffffff;
        background-color:  #3D3D6A;
    }

    .btn-primary {
        background: #3D3D6A 0 -257px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAIcCAYAAAD2RY5JAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAShJREFUeNrs2EkKAkEQBEDHBUVcEBFR3JcZ///B8RMp1iHqAXGqpjK76ft+kJwGCAQCgUAgEAgEAoFAIBAIBAKBQCAQCAQCgUAgEAgEAoFAIBAIBAKBQCAQCAQCgUAgEAgEAoFAIBAIBAKBQCAQ+EewSYPDNDhOg5M0OE2DszQ4T4PLNLhOg5s0uE2DuzS4T4PHNHhKg5c0eEuDjzT4TIPv8mCbBrs0+CkPduXBtvwevsq/5XsavKbBc/mbcih/l+PJIZ5t4ulrlQYX5TN2vAXEe0q8SY3Kt9F4X/aJAQQCgUAgEAgEAoFAIBAIBAKBQCAQCAQCgUAgEAgEAoFAIBAIBAKBQCAQCAQCgUAgEAgEAoFAIBAIBAKBQCAQCAQCgUAg8JfgV4ABANLCVFQtVP42AAAAAElFTkSuQmCC') repeat-x;
        border-color: #3D3D6A;
        box-shadow: 1px 1px 2px wheat, 2px 11px 2em #3D3D6A;
    }

        .btn-primary:hover {
            background-color: transparent;
            border-color: #ffffff;
        }

        .btn-primary:active {
            background-color: transparent;
        }

            .btn-primary:focus, .btn-primary:active:focus {
                background-color: transparent;
            }
</style>
