<div id="div_stats" class="control_grid">
    <table id="table_stats" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Идентификатор конференции</th>
            <th>Имя конференции (ВПК)</th>
            <th>Время начала</th>
            <th>Время окончания</th>
            <th>Длительность, c</th>
            <th>Количество участников</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="modal_block" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <table id="table_parts" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Имя конференции (ВПК)</th>
                        <th>Роль</th>
                        <th>Отображаемое имя</th>
                        <th>Время начала</th>
                        <th>Время окончания</th>
                        <th>Длительность</th>
                        <th>Протокол</th>
                        <th>IP-адрес:порт</th>
                        <th>Причина отключения</th>
                        <th>Кодеки</th>
                        <th>Битрет бит/с (Tx/Rx)</th>
                        <th>Разрешение (Tx/Rx)</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div id="popup_block" class="hide">
    <div id="popup_content" class="b-popup b-popup-content-wide">
        <div id="inner-content-div">
            <table id="table_parts" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Имя конференции (ВПК)</th>
                        <th>Роль</th>
                        <th>Отображаемое имя</th>
                        <th>Время начала</th>
                        <th>Время окончания</th>
                        <th>Длительность</th>
                        <th>Протокол</th>
                        <th>IP-адрес:порт</th>
                        <th>Причина отключения</th>
                        <th>Кодеки</th>
                        <th>Битрет бит/с (Tx/Rx)</th>
                        <th>Разрешение (Tx/Rx)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var oStatisticsTable;
    var oParticipantsTable;
    var cobaMgntAddress = '@MvcApplication.set.CobaMngAddress';
    var var_id;

    function stats_table() {
        oStatisticsTable = $('#table_stats').DataTable({
            "ordering": true,
            "searching": true,
            "scrollY": "75vh",
            "scrollCollapse": "true",
            "paging": true,
            "lengthChange": true,
            "pageLength": "15",
            "lengthMenu": [15, 25, 50, 100, 1000],
            "autoWidth": false,
            "processing": true,
            "order": [[ 2, 'desc' ]],

            "ajax": {
                "type": "POST",
                "url": "/Statistics/GetHistoryVMR",
                "contentType": 'application/json; charset=utf-8',
                "data": function(data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "id", "visible": false },
                { "data": "name" },
                { "data": "start_time2" },
                { "data": "end_time2" },
                { "data": "duration", "searchable": false },
                { "data": "participant_count",
                    "render": function (data, type, full, meta) {
                        return full.participant_count + " участников <a href=\"#\" onclick=\"display_parts('" + full.id + "')\">(подробнее...)</a>";
                    }
                },
            ],

            "language": {
                "url": "../../Content/dt_ru.json"
            },
        });
    };

    function popup_parts_table() {
        oParticipantsTable = $('#table_parts').DataTable({
            "ordering": true,
            "searching": true,
            "autoWidth": false,
            "processing": true,
            "order": [[4, 'asc']],
            "scrollY": "55vh",
            "scrollCollapse": "true",
            "paging": true,
            "lengthChange": true,
            "pageLength": "10",
            "lengthMenu": [5, 10, 20, 50],

            "ajax": {
                "type": "POST",
                "url": "/Statistics/GetHistoryParticipants?id=" + var_id,
                "contentType": 'application/json; charset=utf-8',
                "data": function (data) { return data = JSON.stringify(data); }
            },

            "columns": [
                { "data": "conference_name" },
                { "data": "role", "searchable": false },
                { "data": "display_name" },
                { "data": "start_time2" },
                { "data": "end_time2" },
                { "data": "duration" },
                { "data": "protocol" },
                { "data": "remote_address",
                  "render": function(data, type, full, meta) {
                      return full.remote_address + ":" + full.remote_port;
                  }
                },
                { "data": "disconnect_reason" },
                { "searchable": false },
                { "searchable": false },
                { "searchable": false },
            ],
            "columnDefs": [

                { "targets": -3,
                  "data": "vid_tx_codec",
                  "render": function (data, type, full, meta) {
                      full.vid_tx_codec != null ? full.vid_tx_codec = full.vid_tx_codec : full.vid_tx_codec = 'нет';
                      full.aud_tx_codec != null ? full.aud_tx_codec = full.aud_tx_codec : full.aud_tx_codec = 'нет';
                      full.pre_tx_codec != null ? full.pre_tx_codec = full.pre_tx_codec : full.pre_tx_codec = 'нет';
                      return '<div class="fa fa-video-camera fa-fw brand-color"></div>: ' + full.vid_tx_codec + '<br><div class="fa fa-volume-up fa-fw brand-color"></div>: ' + full.aud_tx_codec + '<br><div class="fa fa-bar-chart fa-fw brand-color"></div>: ' + full.pre_tx_codec;
                  }
                },
                { "targets": -2,
                  "data": "vid_tx_bitrate",
                  "render": function (data, type, full, meta) {
                      full.vid_tx_bitrate != null ? full.vid_tx_bitrate = full.vid_tx_bitrate : full.vid_tx_bitrate = 'нет';
                      full.vid_rx_bitrate != null ? full.vid_rx_bitrate = full.vid_rx_bitrate : full.vid_rx_bitrate = 'нет';
                      full.aud_tx_bitrate != null ? full.aud_tx_bitrate = full.aud_tx_bitrate : full.aud_tx_bitrate = 'нет';
                      full.aud_rx_bitrate != null ? full.aud_rx_bitrate = full.aud_rx_bitrate : full.aud_rx_bitrate = 'нет';
                      full.pre_tx_bitrate != null ? full.pre_tx_bitrate = full.pre_tx_bitrate : full.pre_tx_bitrate = 'нет';
                      full.pre_rx_bitrate != null ? full.pre_rx_bitrate = full.pre_rx_bitrate : full.pre_rx_bitrate = 'нет';
                      return '<div class="fa fa-video-camera fa-fw brand-color"></div>: ' + full.vid_tx_bitrate + '/' + full.vid_rx_bitrate + '<br><div class="fa fa-volume-up fa-fw brand-color"></div>: ' + full.aud_tx_bitrate + '/' + full.aud_rx_bitrate + '<br><div class="fa fa-bar-chart fa-fw brand-color"></div>: ' + full.pre_tx_bitrate + '/' + full.pre_rx_bitrate;
                  }
                },
                { "targets": -1,
                  "data": "vid_tx_resolution",
                  "render": function (data, type, full, meta) {
                      full.vid_tx_resolution != null ? full.vid_tx_resolution = full.vid_tx_resolution : full.vid_tx_resolution = 'нет';
                      full.vid_rx_resolution != null ? full.vid_rx_resolution = full.vid_rx_resolution : full.vid_rx_resolution = 'нет';
                      full.pre_tx_resolution != null ? full.pre_tx_resolution = full.pre_tx_resolution : full.pre_tx_resolution = 'нет';
                      full.pre_rx_resolution != null ? full.pre_rx_resolution = full.pre_rx_resolution : full.pre_rx_resolution = 'нет';
                      return '<div class="fa fa-video-camera fa-fw brand-color"></div>: ' + full.vid_tx_resolution + '/' + full.vid_rx_resolution + '<br><div class="fa fa-bar-chart fa-fw brand-color"></div>: ' + full.pre_tx_resolution + '/' + full.pre_rx_resolution;
                  },
                },
            ],

            "language": {
                "url": "../../Content/dt_ru.json"
            },

        });
    };

    setInterval("refresh_stats()", 300000);

    function refresh_stats() {
        if (oStatisticsTable != null) {
            oStatisticsTable.ajax.reload();
        } else {
            stats_table();
        }
    };

    function display_parts(id) {
        /*event.stopPropagation();
        document.getElementById("popup_block").className = "b-popup b-popup-content";*/
        $("#modal_block").modal();
        var_id = id;
        
        if (oParticipantsTable == null) {
            popup_parts_table();
        } else {
            oParticipantsTable.ajax.url("/Statistics/GetHistoryParticipants?id=" + var_id).load();
        }
    };

    $(document).on("click", function (e) {
        if (!$("#popup_content").is(e.target) && $("#popup_content").has(e.target).length == 0 && document.getElementById("popup_block").className == "b-popup b-popup-content") {
            document.getElementById("popup_block").className = "hide";
        };
    });

    /*$(function() {
        $('#div_stats').slimScroll({
            height: '98%',
            width: '100%',
            margin: '30px',
            size: '7px',
            position: 'right',
            color: '#3d3d6a',
            distance: '0px'
        });
        $('#inner-content-div').slimScroll({
            height: '100%',
            width: '100%',
            size: '7px',
            position: 'right',
            color: '#3d3d6a',
            distance: '0px'
        });
    });*/
    
    $(document).ready(function() {
        refresh_stats();
    });
</script>